<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @team.year %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @team.draft %>
</p>

<p>
  <strong>R1:</strong>
  <%= @team.r1 %>
</p>

<p>
  <strong>R2:</strong>
  <%= @team.r2 %>
</p>

<p>
  <strong>R3:</strong>
  <%= @team.r3 %>
</p>

<p>
  <strong>R4:</strong>
  <%= @team.r4 %>
</p>

<p>
  <strong>R5:</strong>
  <%= @team.r5 %>
</p>

<p>
  <strong>R6:</strong>
  <%= @team.r6 %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @team.wins %>
</p>

<p>
  <strong>Pts:</strong>
  <%= @team.pts %>
</p>

<p>
  <strong>Low:</strong>
  <%= @team.low %>
</p>

<p>
  <strong>Earnings:</strong>
  <%= @team.earnings %>
</p>

<p>
  <strong>Ptschamp:</strong>
  <%= @team.ptschamp %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
